@import "tailwindcss";

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-zinc-950;
    @apply text-white;

    height: 100vh;
    width: 100vw;

    color-scheme: dark;
}
